body{
   color: white;
   font-family: 'Montserrat', serif;
   background-color: rgb(37, 37, 37)   ;
}


header img{
   border-radius: 50px;
   border: rgb(68, 0, 255) solid 5px;
}
.container{
   padding: 0px 20px;
}
.image{
   text-align:center;
}

.title{
   text-align: center;
}
main{
   text-align: start;
}

ul{
   list-style-type: none;
}
h1{
   color: rgb(68, 0, 255);
}
a{
   color: white;
   text-decoration: none;
}

footer{
   display: flex;
   justify-content: center;
   padding: 20px;
}

footer img{
   width: 56px;
   height: 56px;
}

footer a{
   margin: 20px;
}