<!doctype html>
<html ng-app="userModule" lang="pt-br" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script> window.app = angular.module('userModule', []); </script>
    <script src="./assets/js/user.service.js"></script>
    <script src="./assets/js/user.controller.js"></script>
</head>

<body class=" vh-100"  ng-controller="AppController">
    <header>
        <nav class="d-flex justify-content-center align-items-center m-auto bg-dark-subtle  w-100">
            <div class="container-fluid">
                <h1>Filtrar por</h1>
            </div>
            <div class="filtros container-fluid text-end">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="checkbox" class="btn-check" id="btnradio1" ng-model="filtros.aluno">
                    <label class="btn btn-outline-primary" for="btnradio1">Aluno</label>

                    <input type="checkbox" class="btn-check" id="btnradio2" ng-model="filtros.professor">
                    <label class="btn btn-outline-primary" for="btnradio2">Professor</label>
                </div>
            </div>
        </nav>
    </header>


    <main ng-view class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>{{mensagem}}</h1>
            </div>

            <div class="col">
                <div ng-repeat="user in usuarios| filter:filtroPorTipo">

                    <p><br> {{user.tipo}} {{user.nome}} <br> Data de Cadastro: {{user.dataCadastro}}</p>

                    <div ng-if="user.tipo === 'Aluno'">
                        <img src="./assets/images/aluno.png" class="w-25">
                    </div>
                    <div ng-if="user.tipo === 'Professor'">
                        <img src="./assets/images/professor.png" class="w-25" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="row container p-5 form-container">
            <form name="form" ng-submit="handleSubmitAddUser(form)">
                <h3>Adicionar Novo Usuario</h3>

                <div class="mb-3">
                    <label for="exampleInput" class="form-label">Nome</label>

                    <input type="text" class="form-control" id="nome" name="inputValidationNome" ng-model="userInput.nome" required>

                    <div class="error-message alert alert-warning align-items-center mt-3" ng-show="form.inputValidationNome.$touched && form.inputValidationNome.$error.required">⚠️ O campo Nome deve ser preenchido!</div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>

                    <input type="email" class="form-control" id="email"  name="inputValidationEmail" ng-model="userInput.email" required>

                    <div class="error-message alert alert-warning align-items-center mt-3" ng-show="form.inputValidationEmail.$touched && form.inputValidationEmail.$error.required">⚠️ O campo Email deve ser preenchido!</div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tipo de Conta</label>

                    <select class="form-control" ng-model="userInput.tipo" name="inputValidationTipo" required>
                        <option value="">Selecione...</option>
                        <option value="Aluno">Aluno</option>
                        <option value="Professor">Professor</option>
                    </select>

                    <div class="error-message alert alert-warning align-items-center mt-3" ng-show="form.inputValidationTipo.$touched && form.inputValidationTipo.$error.required">⚠️ O campo Tipo de Conta deve ser preenchido!</div>
                </div>
                <div class="mb-3 ">
                    <label>Data de Cadastro </label> <br>

                    <input type="date" ng-model="userInput.date" name="inputValidationData" required>

                    <div class="error-message alert alert-warning align-items-center mt-3" ng-show="form.inputValidationData.$touched && form.inputValidationData.$error.required">⚠️ O campo Data de Cadastro deve ser preenchido!</div>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="loading" >
                    {{loading ? "Enviando..." : "Enviar"}}
                </button>

            </form>
        </div>

    
    </main>

    <footer>
        <div id="quantidade" class="row p-5 text-start bg-light-subtle pt-2 mt-5 ">
            <p class="m-0 p-0">Quantidade de Alunos: {{(usuarios | filter:{tipo:'Aluno'}).length}}</p>
            <p class="m-0 p-0">Quantidade de Professor: {{(usuarios | filter:{tipo:'Professor'}).length}}</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>


</body>

</html>