* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;
}

@media (max-height: 780px) {
  :root {
    font-size: 5.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgb(15, 16, 28);
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 15rem;
  background-color: rgb(37, 37, 37);
}

header img {
  border-radius: 9rem;
  width: 50rem;
  margin-left: 30rem;
}

li,
a,
button {
  font-size: 16rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 0rem 20rem;
}

.nav-links li a:hover {
  color: blueviolet;
}

button {
  padding: 10rem 20rem;
  border: none;
  border-radius: 60rem;
  background-color: blueviolet;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(159, 77, 236);
}

form button {
display: flex;
margin: 0 auto;
}

.contatos {
  background-color: rgb(49, 49, 63);

  width: 100rem;
  height: 100rem;
  border-radius: 20rem;
  box-shadow: 10rem 20rem 20rem blueviolet;

  transition: all 0.3s;
  margin-left: 16rem;
}

.contatos:first-child {
  margin: 0;
}

.contatos:nth-child(3) img {
  position: relative;
  left: 28%;
  top: 30%;
  transform: scale(0.6) translate(-50%, -50%);
}

.contatos:hover {
  transform: scale(1.2);
  background-color: blueviolet;
  cursor: pointer;
}

.contatos img {
  position: relative;
  left: 33%;
  top: 31%;
  transform: scale(0.7) translate(-50%, -50%);
}

footer {
  position: absolute;
  display: flex;
  top: 85%;
  left: 78%;
  transform: translate(-50%, -50%);
}

.form h2 {
  display: flex;
  font-size: 30rem;
  text-align: center;
  justify-content: center;
}

form {
  background-color: rgb(49, 49, 63);
  padding: 20px;
  border-radius: 50rem;
  box-shadow: 10rem 20rem 20rem blueviolet;

  position: absolute;
  z-index: 10;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
}

span {
  font-size: 30rem;
}

.input {
  padding: 15rem;
  border-radius: 10rem;
  width: 500rem;
  margin-bottom: 5px;
}

.image img {
  width: 40vw;
  height: 60vh;
}

.image {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.submit {
  margin-top: 10px;
}


@media (min-width: 1000px) {
  .form {
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 40vw;
  }
}

@media (max-width: 900px) {
  .form {
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
  }

  .image {
    display: none;
  }

  .form button{
    transition: 0;
    transform: scale(1);
    display: flex;
    justify-content: center;
  

  }
  
  .form{
    transform: scale(0.6);
  }

  .contatos{
    transform: scale(0.8);
  }
  main{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
  }

  nav{
    transform: scale(0.7);
    display: flex;
    flex-direction: row;
  }

   a button{
    transform: scale(0.8);
  }

  footer{
    top: 70%;
    left: 50%;
  }
  
}
