body{
   color: white;
   font-family: 'Montserrat', serif;
   background-color: rgb(54, 54, 54)   ;
}


header img{
   border-radius: 50px;
   border: rgb(68, 0, 255) solid 5px;
}

header{
   margin-left: 400px;
   margin-right: 400px;
}


.container{
   padding: 0px 20px;
}

.image{
   text-align:center;
}

.title{
   text-align: center;
}

main{
   text-align: start;
   margin-left: 400px;
   margin-right: 400px;

}

ul{
   list-style-type: none;
}
h1{
   color: rgb(87, 45, 204);
}
a{
   color: white;
   text-decoration: none;
}

footer{
   display: flex;
   justify-content: center;
   padding: 20px;
}

footer img{
   width: 56px;
   height: 56px;
}

footer a{
   margin: 20px;
}