*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Open Sans', sans-serif;
   color: white;
   background-color: rgb(15, 16, 28);
   width: 100vw;
   height: 100vh;
}

main{
   padding-top: 60px;
   margin-left: 30px;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   background-color: rgb(37, 37, 37);
}

header img{
   border-radius: 9px;
   width: 50px ;
   margin-left:30px;
}

li, a, button{
   font-size: 16px;
   text-decoration: none;
   color: white;
   font-weight: bold;
}

.nav-links{
   list-style-type: none;
}

.nav-links li{
   display: inline-block;
   padding: 0px 20px ;
}

.nav-links li a:hover{
   color: blueviolet;
}

button{
   padding: 10px 20px;
   border: none;
   border-radius: 60px;
   background-color: blueviolet;
   cursor: pointer;
}

button:hover{
   background-color: rgb(159, 77, 236);
}


#perfil{
   border-radius: 20%;
   box-shadow: 10px 20px 20px blueviolet;
   margin-bottom: 30px;
}

.sobremim p{
   font-size: small;
   text-align: justify;
}

.pc-image{
   width: 600px;
   position: absolute;
   top: 50%;
   left: 70%;
   transform: translate(-50%,-50%);
   
}


