*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   font-family: 'Open Sans', sans-serif;
   height: 100vh;
   background-color: rgb(53, 53, 58);

}

.header{
   background-color: rgb(34, 34, 71);
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
  
}


aside li{
   list-style-type: none;
   display: inline-block;
   justify-content: space-between;
   padding-right: 20px;
   padding-top: 20px;
}



aside nav{
   width: 100%;
   padding: 10px;
   height: 80px;
}

a{
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: bold;
   transition: all 0.3s;
   
}

a:hover{
   color: rgb(96, 96, 151);
}

@media (max-width:999px){
   aside, header p{
      display: none;
   }
}



.burguer-btn{
   transform: scale(0.4);
   cursor: pointer;
   transition: 0.3s;
}

.burguer-btn:hover{
   transform: scale(0.5);
}

/* .dropdown-menu{
   display: none;
   position: absolute;
   right: 5%;
   top: 150px;
   width: 300px;
   background-color: rgba(255,255,255,0.1);
   backdrop-filter: blur(5px);
   border-radius: 10px;
   padding: 10px;
   overflow: hidden;
}
.dropdown-men.open{
   height: 240px;
}
.dropdown-menu li{
   padding: 7px;
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dropdown-menu{
   display: block;
} */

.post{
   background-color: white;
   padding: 20px;
   margin-bottom: 50px;
   display: flex;
   text-align: justify;
   margin: 20px;
   border-radius: 20px;
   background-color: white;
   transition: all 0.5s;
   
}

.post:hover{
   transform: scale(1.02);
}

section{
   padding: 40px;
}
li{
   margin-left: 80px;
}
ul{
   margin-left: 85px;
}

figure img{
   width: 100%;
   border-radius: 10px;
}

@media (min-width:1000px){
   .burguer-btn{
      display: none;
   }

   .dropdown-menu{
      display: none;
   }

   figure img{
      width: 800px;
      position: relative;
      left: 25%;
   }
}
.codigo{
   background-color: rgb(233, 210, 191);
   padding: 5px;
   border-radius: 10px;
}

footer{
   background-color: white;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
}

span{
   font-weight: bold;
}

.alpar{
   color: rgb(34, 34, 71);
}