* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}




#quantidade {
    margin: 0;
    padding: 0;
    height: 50px;
}