* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;

}


form{
    background-color: rgb(34, 38, 43);
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

@media (min-width: 768px) { 
    .form-container{
        display: flex;
        justify-content: center !important;
        margin:auto !important;
        max-width: 500px !important;
    }
}




p {
    margin: 0;
    padding: 0;
}

input.ng-invalid.ng-touched{
    border-color: red;
    
}


#quantidade {
    margin: 0;
    padding: 0;
    height: 50px;
}