:root{
    --dark-color: rgb(34, 38, 43);
    --darker-color: rgb(24, 28, 34);
    --base-variant: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;

}


form{
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

@media (min-width: 768px) { 
    .form-container{
        display: flex;
        justify-content: center !important;
        margin:auto !important;
        max-width: 500px !important;
    }
}


.filtro{
    width: 24px;
    margin-right: 5px;
}

.logo{
    width: 60px;
}

.theme-switcher{
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    background-color: var(--darker-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.19) ;
}

.theme-switcher img:last-child{
    display: none;
}


p {
    margin: 0;
    padding: 0;
}

input.ng-invalid.ng-touched{
    border-color: red;
    
}


#quantidade {
    margin: 0;
    padding: 0;
    height: 50px;
}